In [1]:
import findspark
findspark.init('/opt/spark/2.4.4/')

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [4]:
spark = SparkSession.\
        builder.\
        appName('Hackton2'). \
        enableHiveSupport(). \
        getOrCreate()
sc = spark.sparkContext

In [50]:
df1 = spark.read.csv('file:///home/rameshbabug/Documents/projects/internal/spark-playground/src/data/hackton2/data1.txt')
df1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [51]:
df1 = df1.filter(df1['_c3']!='false').filter(df1['_c1']!='CTY')
df1.show()

+---+---+----------+----+----+
|_c0|_c1|       _c2| _c3| _c4|
+---+---+----------+----+----+
|  1|BNG|    school|true| 100|
|  2|HYD|    school|true| 150|
|  3|MUM|    school|true| 200|
|  5|HYD|restaurant|true|1500|
+---+---+----------+----+----+

In [52]:
df2 = spark.read.csv('file:///home/rameshbabug/Documents/projects/internal/spark-playground/src/data/hackton2/data2.txt')
df2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)

In [53]:
df2 = df2.filter(df2['_c3']!='false').filter(df2['_c1']!='CTY')
df2.show()

+---+---+----------+----+----+
|_c0|_c1|       _c2| _c3| _c4|
+---+---+----------+----+----+
|  7|BNG|  hospital|true| 700|
|  8|HYD|  hospital|true| 300|
|  9|MUM|  hospital|true|1000|
| 11|HYD|restaurant|true|  50|
| 12|MUM|  hospital|true| 900|
+---+---+----------+----+----+

In [54]:
df3 = df1.union(df2)
df3.show()

+---+---+----------+----+----+
|_c0|_c1|       _c2| _c3| _c4|
+---+---+----------+----+----+
|  1|BNG|    school|true| 100|
|  2|HYD|    school|true| 150|
|  3|MUM|    school|true| 200|
|  5|HYD|restaurant|true|1500|
|  7|BNG|  hospital|true| 700|
|  8|HYD|  hospital|true| 300|
|  9|MUM|  hospital|true|1000|
| 11|HYD|restaurant|true|  50|
| 12|MUM|  hospital|true| 900|
+---+---+----------+----+----+

In [73]:
rdd = sc.textFile('file:///home/rameshbabug/Documents/projects/internal/spark-playground/src/data/hackton2/filter.txt')
for row in rdd.collect():
    print(row)

BNG:school
HYD:school,restaurant
BNG:school | HYD:school,restaurant

In [81]:
rdd1 = rdd.map(lambda x : x.split('|')).map(lambda x: x[0].split(':'))
for row in rdd1.collect():
    print(row)

['BNG', 'school']
['HYD', 'school,restaurant']
['BNG', 'school ']