#### This notebook have solutions for the exercises mentioed @ https://towardsdatascience.com/six-spark-exercises-to-rule-them-all-242445b24565

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder \
    .master("local[4]") \
    .config("spark.sql.autoBroadcastJoinThreshold", -1) \
    .config("spark.executor.memory", "500mb") \
    .appName("Exercise1") \
    .getOrCreate()

In [3]:
products_df = spark.read.parquet('file:///home/rameshbabug/Documents/Tutorials/Input/Datasets/DatasetToCompleteTheSixSparkExercises/products_parquet/')
products_df.printSchema()

root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- price: string (nullable = true)

In [4]:
sales_df = spark.read.parquet('file:///home/rameshbabug/Documents/Tutorials/Input/Datasets/DatasetToCompleteTheSixSparkExercises/sales_parquet/')
sales_df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- num_pieces_sold: string (nullable = true)
 |-- bill_raw_text: string (nullable = true)

In [5]:
sellers_df = spark.read.parquet('file:///home/rameshbabug/Documents/Tutorials/Input/Datasets/DatasetToCompleteTheSixSparkExercises/sellers_parquet/')
sellers_df.printSchema()

root
 |-- seller_id: string (nullable = true)
 |-- seller_name: string (nullable = true)
 |-- daily_target: string (nullable = true)

In [6]:
products_df.show(5)
sales_df.show(5)
sellers_df.show(50)

+----------+------------+-----+
|product_id|product_name|price|
+----------+------------+-----+
|         0|   product_0|   22|
|         1|   product_1|   30|
|         2|   product_2|   91|
|         3|   product_3|   37|
|         4|   product_4|  145|
+----------+------------+-----+
only showing top 5 rows

+--------+----------+---------+----------+---------------+--------------------+
|order_id|product_id|seller_id|      date|num_pieces_sold|       bill_raw_text|
+--------+----------+---------+----------+---------------+--------------------+
|       1|         0|        0|2020-07-10|             26|kyeibuumwlyhuwksx...|
|       2|         0|        0|2020-07-08|             13|jfyuoyfkeyqkckwbu...|
|       3|         0|        0|2020-07-05|             38|uyjihlzhzcswxcccx...|
|       4|         0|        0|2020-07-05|             56|umnxvoqbdzpbwjqmz...|
|       5|         0|        0|2020-07-05|             11|zmqexmaawmvdpqhih...|
+--------+----------+---------+----------+---------------+--------------------+
only showing top 5 rows

+---------+-----------+------------+
|seller_id|seller_name|daily_target|
+---------+-----------+------------+
|        0|   seller_0|     2500000|
|        1|   seller_1|      257237|
|        2|   seller_2|      754188|
|        3|   seller_3|      310462|
|        4|   seller_4|     1532808|
|        5|   seller_5|     1199693|
|        6|   seller_6|     1055915|
|        7|   seller_7|     1946998|
|        8|   seller_8|      547320|
|        9|   seller_9|     1318051|
+---------+-----------+------------+

#### Find out how many orders, how many products and how many sellers are in the data.

In [7]:
# Orders Count
sales_df.count()

20000040

In [8]:
# Sellers Count
sellers_df.count()

10

In [9]:
# Products Count
products_df.count()

75000000

#### How many products have been sold at least once? Which is the product contained in more orders?

In [10]:
products_df.createOrReplaceTempView('products')
sales_df.createOrReplaceTempView('orders')
sellers_df.createOrReplaceTempView('sellers')

In [ ]:
no_of_products_sold_atleast_once = spark.sql('''
select count(distinct product_id) no_of_products_sold_atleast_once from sales
''')

In [ ]:
no_of_products_sold_atleast_once.show()

In [ ]:
product_in_more_orders = spark.sql('''
select max(product_in_more_orders) as product_in_more_orders from (
select count(product_id) product_in_more_orders from orders group by product_id)
''')

In [ ]:
product_in_more_orders.show()

#### How many distinct products have been sold in each day?

In [ ]:
distinct_products_in_each_day = spark.sql('''
select date, count(distinct product_id) distinct_products_in_each_day from orders group by date order by distinct_products_in_each_day desc
''')

In [ ]:
distinct_products_in_each_day.show()

In [ ]:
spark = SparkSession.builder \
    .master("local") \
    .config("spark.sql.autoBroadcastJoinThreshold", -1) \
    .config("spark.executor.memory", "3gb") \
    .appName("Exercise1") \
    .getOrCreate()

In [ ]:
avg_revenue_of_orders = spark.sql('''
select avg(p.price * o.num_pieces_sold) as avg_revenue_of_orders from orders o join products p on o.product_id = p.product_id
''')

In [ ]:
avg_revenue_of_orders.show()

In [ ]:
spark = SparkSession.builder \
    .master("local") \
    .config("spark.sql.autoBroadcastJoinThreshold", -1) \
    .config("spark.executor.memory", "500mb") \
    .appName("Exercise2") \
    .getOrCreate()

In [ ]:
avg_revenue_of_orders = spark.sql('''
select avg() from (
select o. from sellers s join orders o join prodcts p group by s.seller_id

)

''')

In [2]:
spark = SparkSession.builder \
    .master("local") \
    .config("spark.sql.autoBroadcastJoinThreshold", -1) \
    .config("spark.executor.memory", "3gb") \
    .appName("Exercise1") \
    .getOrCreate()

In [ ]:
second_most_seeling = spark.sql('''
select s.seller_id , p. product_id from products p join orders o join sellers s 
where p.product_id = o.product_id 
and   o.seller_id = s.seller_id 
''')