In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.\
        builder.\
        master('local[*]'). \
        appName('zipWithIndex_Example'). \
        enableHiveSupport(). \
        getOrCreate()

In [4]:
sc = spark.sparkContext

In [5]:
rdd = sc.textFile('file:///home/rameshbabug/Documents/projects/internal/spark-playground/src/data/emp_data.csv')

In [6]:
rdd.collect()

['ID,NAME,SALARY,CITY',
 '1,ABC,2000,Hyd',
 '2,DEF,3000,Bang',
 '3,GHI,4000,Pune',
 '4,PQR,5000,Delhi',
 '5,XYZ,3500,Hyd',
 '6,PQR,4500,Pune']

#### Add index/pk column to RDD

In [7]:
from pyspark.sql.functions import lit

In [92]:
rdd_1 = rdd.zipWithIndex().map(lambda x: [x[0].split(','),x[1]]).map(lambda x: (x[0][0],x[0][1],x[0][2],x[0][3],x[1]))

In [93]:
rdd_1.collect()

[('ID', 'NAME', 'SALARY', 'CITY', 0),
 ('1', 'ABC', '2000', 'Hyd', 1),
 ('2', 'DEF', '3000', 'Bang', 2),
 ('3', 'GHI', '4000', 'Pune', 3),
 ('4', 'PQR', '5000', 'Delhi', 4),
 ('5', 'XYZ', '3500', 'Hyd', 5),
 ('6', 'PQR', '4500', 'Pune', 6)]

In [ ]:
rdd_1.